{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Cupcakes List</h1>

<div class="container">
    <div class="row">
        {% for cake in cupcakes %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="text-center">
                <h3>{{ cake.flavor }}</h3>
                <img src="{{ cake.image }}" alt="{{ cake.flavor }}" class="img-fluid rounded">

                <button id="delete_btn" data-id="{{ cake.id}}" class="btn btn-warning btn-lg px-5">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}